site_name: applyBN
repo_name: Anaxagor/applyBN/
repo_url: https://github.com/Anaxagor/applyBN/
theme:
  name: material
  locale: en
  features:
    - announce.dismiss
    - content.action.edit
    - content.action.view
    - content.code.annotate
    - content.code.copy
    # - content.code.select
    # - content.footnote.tooltips
    # - content.tabs.link
    - content.tooltips
    # - header.autohide
    # - navigation.expand
    - navigation.footer
    - navigation.indexes
    - navigation.instant
    # - navigation.instant.prefetch
    - navigation.instant.progress
    # - navigation.prune
    - navigation.sections
    - navigation.tabs
    # - navigation.tabs.sticky
    - navigation.top
    - navigation.tracking
    - search.highlight
    - search.share
    - search.suggest
    - toc.follow
    # - toc.integrate
  palette:
    - media: "(prefers-color-scheme)"
      toggle:
        icon: material/link
        name: Switch to light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: indigo
      accent: indigo
      toggle:
        icon: material/toggle-switch
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: black
      accent: indigo
      toggle:
        icon: material/toggle-switch-off
        name: Switch to system preference
  font:
    text: Roboto
    code: Roboto Mono

nav:
  - User Guide:
    - index.md
    - user-guide/getting-started.md
    - user-guide/installation.md
    # Add concepts and theoretical background?
  
  - API Reference:
      - Core:
          - api/core/core.md
          - logger: api/core/logger.md
          # - exceptions: api/core/exceptions.md
          # - progress_bar: api/core/progress_bar.md
      - Feature extraction: api/feature_extraction.md
      - Feature selection: api/feature_selection.md
      - BN oversampling: api/bn_oversampling.md
      - Outlier detection:
          - api/outlier_detection/outlier_detection.md
          - Tabular outlier detection: api/outlier_detection/tabular_outliers.md
          - Time series outlier detection: api/outlier_detection/ts_outliers.md
      - Synthetic data generation: api/synthetic_data_generation.md
      - Pipeline creation: api/pipeline_creation.md
  - Examples:
      - Tabular Data: examples/tabular_data.md
      - Time Series Data: examples/time_series_data.md
      - Synthetic Data Generation: examples/synthetic_data_generation.md
      - Pipeline Creation: examples/pipeline_creation.md

  - Development and Contribution:
      - development/contributing.md

#extra:
#  social:
#    - icon: fontawesome/brands/github
#      link: https://github.com/myusername/myproject
plugins:
  - search
  - mkdocstrings
markdown_extensions:
  - admonition
  - codehilite
  - footnotes
  - meta
  - pymdownx.tasklist:
      custom_checkbox: true
  - toc:
      permalink: True
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
